@font-face {
    font-family: helvetica;
    src: url('/src/assets/fonts/Helvetica.ttf');
}
@font-face {
    font-family: helveticabold;
    src: url('/src/assets/fonts/Helvetica-Bold.ttf');
}
@font-face {
    font-family: helveticalight;
    src: url('/src/assets/fonts/helvetica-light-587ebe5a59211.ttf');
}
@import "tailwindcss";
@theme {
    /* --color-*: initial; */
    --color-primary: #21318d;
    --color-darkprimary: #52b1fd;
    --color-primaryBtn: #925be7;
    --color-darkprimaryBtn: #52b1fd;
    --font-poppins: Poppins, sans-serif;
    --font-helvetica: helvetica, "sans-sarif";
    --font-helveticabold: helveticabold, "sans-sarif";
    --font-helveticalight: helveticalight, "sans-sarif";
    --shadow-header: 0px 2px 10px 5px rgba(1,15,28,0.1);
}

.lora {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
  }

body,
html {
    overflow-x: hidden;
}

/* .button-container {
    position: relative;
}

.slide-button {
    font-size: 18px;
    color: #fff;
    background-color: #ef4444;
    border: 2px solid #ef4444;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    outline: none;
    transition: color 0.4s, background-color 0.4s;
    z-index: 1;
}

.slide-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ef4444;
    border: 2px solid #ef4444;
    transition: all 0.4s ease-in-out;
    z-index: -1;
}

.slide-button:hover::before {
    left: 100%;
    border: 2px solid #ef4444;

}

.slide-button:hover {
    color: #ef4444;
    background-color: transparent;
    border: 2px solid #ef4444;
} */






/* a {
    display: inline-block;
    position: relative;
    color: #0087ca;
    text-decoration: none;
  } */
.underline-hover::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    border-radius: 5px;
    height: 0.15em;
    bottom: 0;
    left: 10%;
    background: var(--color-primary);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.underline-hover:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
  }
  
  .slideInLeft {
    animation-name: slideInLeft;
  }
  
  .slideInRight {
    animation-name: slideInRight;
  }
  
  @keyframes slideInLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slideInRight {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  